@media (max-width: 428px) {

    * {
        font-family: 'Poppins', sans-serif;
    }

    body {
        background: #fff;
    }

    header{
        height: 110px;
    }

    .upper-text{
        position: absolute;
        width: 280px;
        height: 36px;
        left: 15px;
        top: 12px;

        font-style: normal;
        font-weight: 500;
        font-size: 24px;
        line-height: 36px;
        /* identical to box height */
        color: #000000;
    }

    .additional-text{
        position: absolute;
        width: 297px;
        height: 48px;
        left: 15px;
        top: 39px;

        font-style: normal;
        font-weight: 400;
        font-size: 16px;
        line-height: 24px;

        color: #7B7B7B;
    }


    html, body {
        width: 100%;
        height: 100%;
        margin: 0;
        padding: 0;
        color: blue;
        background: white;
        font-family: monospace;
    }

    #page {

        width: 100%;
        height: 100%;

        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
    }
#wheel-box {
    flex: 0 0 auto;

    width: 100%;
    height: 100%;
    margin: auto;
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}
    #wheel {
        transition: all 0.2s linear;
    }
     line {
        stroke-width: 1;
     }
     path {
         fill: rgba(0, 0, 0, 0.2);
     }
    .dropup-content-third {
        display: none;
        position: absolute;
        bottom: 56px;
        background-color: #f1f1f1;
        right: -30px;
        width: 275%;
        box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
        z-index: 1;
    }

    /* Links inside the dropup */
    .dropup-content-third a {
        color: black;
        padding: 12px 16px;
        text-decoration: none;
        display: block;
    }

    /* Change color of dropup links on hover */
    .dropup-content-third a:hover {background-color: #ddd}

    /* Show the dropup menu on hover */
    .dropup:hover .dropup-content-third {
        display: block;
    }
    .Job,.additional-text {
        fill: rgba(0,0,128, 0.3);
    }
    .Family {
        fill: rgba(219,112,147, 0.4);
    }
    .Movie {
        fill: rgba(255,127,80, 0.3);
    }
    .Sport{
        fill: rgba(34,139,34, 0.3);
    }
    .Relax{
        fill: rgba(147,112,219, 0.3);
    }
    .Games{
        fill: rgba(100,149,237, 0.3);
    }
    .Entertainment{
        fill: rgba(218,165,32, 0.3);
    }
    .Outdoor{
        fill: rgba(255,99,71, 0.3);
    }
    }

svg {
    position: absolute;
    top: 0;
    left: 0;

}

text {
    text-anchor: middle;
    fill: black;
}




