<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Activities in progress</title>

    <link rel="stylesheet" th:href="@{css/act-in-progress.css}">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <meta name="description" content="The best way to organize your time and control everything in your life">
    <meta name="keywords" content="time, organization, management, workflow">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.1/jquery.min.js"></script>
    <script src="https://kit.fontawesome.com/201024f681.js" crossorigin="anonymous"></script>
    <script th:src="@{js/scrypt.js}" defer></script>
    <script th:src="@{js/checkbox.js}" defer></script>
    <script th:src="@{js/test.js}" defer></script>
    <link rel="stylesheet" th:href="@{css/utilities.css}">

</head>
<body>
<div class = "content-wrapper">
    <div class="upper-text">
        Activities in progress
    </div>

    <div class="additional-text">
        Here you can see your activities in progress.
    </div>
</div>

<button class="accordion">Activity 1</button>
<div class="panel">
    <div class="upper-menu">
    <span class="label category">Category</span>
        <div class="dropdown">
            <button class="dropbutton">&#8942;</button>
            <div class="dropdown-content">
                <a href="#">Edit</a>
            </div>
        </div>
    </div>
    <p class="activity-description">Some useless desmfkwoe kfopwek opfkwepok fopwkeop fkopwek fopwekcription</p>
    <div class="activity-time">
        <div><i class="fas fa-clock"></i> 09:00</div>
        <div><i class="fas fa-calendar"></i> 06 Jun 2022</div>
    </div>
</div>

<button class="accordion">Activity 2</button>
<div class="panel">
    <div class="upper-menu">
    <span class="label category2">Category2</span>
        <div class="dropdown">
            <button class="dropbutton">&#8942;</button>
            <div class="dropdown-content">
                <a href="#">Edit</a>
            </div>
        </div>
    </div>
    <p class="activity-description">Some useless description</p>
    <div class="activity-time">
        <div><i class="fas fa-clock"></i> 09:00</div>
        <div><i class="fas fa-calendar"></i> 06 Jun 2022</div>
    </div>
</div>

<button class="accordion">Activity 3</button>
<div class="panel">
    <div class="upper-menu">
    <span class="label category4">Category4</span>
        <div class="dropdown">
            <button class="dropbutton">&#8942;</button>
            <div class="dropdown-content">
                <a href="#">Edit</a>
            </div>
        </div>
    </div>
    <p class="activity-description">Some useless description</p>
    <div class="activity-time">
        <div><i class="fas fa-clock"></i> 09:00</div>
        <div><i class="fas fa-calendar"></i> 06 Jun 2022</div>
    </div>
</div>

<button class="accordion">Activity 3</button>
<div class="panel">
    <div class="upper-menu">
    <span class="label category4">Category4</span>
        <div class="dropdown">
            <button class="dropbutton">&#8942;</button>
            <div class="dropdown-content">
                <a href="#">Edit</a>
            </div>
        </div>

    </div>
    <p class="activity-description">Some useless description</p>
    <div class="activity-time">
        <div><i class="fas fa-clock"></i> 09:00</div>
        <div><i class="fas fa-calendar"></i> 06 Jun 2022</div>
    </div>
</div>




<footer>
    <div class="footer-cont">
        <div class="dropup">
            <button class="dropbtn"><i class="fas fa-clock"></i></button>
            <div class="dropup-content">
                <a href="add-activity.html">Add activity</a>
                <a href="recent-activities.html">Recent Activities</a>
                <a href="#">Unfinished activities</a>
            </div>
        </div>
        <i class="fas fa-layer-group"></i>
        <div class="dropup">
            <button class="dropbtn"><i class="fas fa-chart-line"></i></button>
            <div class="dropup-content-second">
                <a href="#">Daily report</a>
                <a href="#">Monthly report</a>
                <a href="#">Overall reports</a>
            </div>
        </div>
        <i class="fas fa-user-astronaut"></i>
    </div>
</footer>



</body>

</html>